#el_6f478c2e {
    background: rgb(239, 68, 68);
    background-image: initial
}
#el_c106f7d1 {
    background: rgb(245, 158, 11);
    background-image: initial
}
#el_3068e530 {
    background: rgb(99, 102, 241);
    background-image: initial
}
#el_0aea084c {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px;
    text-shadow: rgba(0, 0, 0, 0.45) 5px 5px 10px
}




