#el_6f478c2e {
    background: rgb(239, 68, 68);
    background-image: initial
}
#el_c106f7d1 {
    background: rgb(245, 158, 11);
    background-image: initial
}
#el_3068e530 {
    background: rgb(99, 102, 241);
    background-image: initial
}



